<div class="post-entry">
  <a href="#">
    <img src="{{newsInfo.img}}" alt="Image" class="img-fluid">
  </a>
  <div class="caption">
    <div class="caption-inner">
      <h3 class="mb-3">{{newsInfo.title}}</h3>
      <div class="author d-flex align-items-center">
        <div class="img mb-2 mr-3">
          <img src="{{newsInfo.avatar}}" alt="">
        </div>
        <div class="text">
          <h4>{{newsInfo.author}}</h4>
          <span>{{newsInfo.date}}</span>
        </div>
      </div>
    </div>
  </div>
</div>